@import "../partials/breakpoints";




.screen {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	pointer-events: none;
    overflow: hidden;
}


.fold-scroller {
	height: 100%;
	
}

.fold-content {
	pointer-events: all;
	width: 100%;

}

.fold-size-fix {
	width: 100%;
	height: 100%;
}

.fold-before .fold-size-fix {
	transform-origin: bottom center;
}

.fold-after .fold-size-fix {
	transform-origin: top center;
}

#base-content {
	display: none;
}

/*  Debug */
.debug .fold:nth-child(2n) {
	background: #ff00006c;
}

.debug .fold:nth-child(2n + 1) {
	background: #ff00006c;
}

.btn-debug {
	position: fixed;
	top: 10px;
	padding: 1rem;
	font-size: 16px;
	text-transform: uppercase;
	right: 10px;
	cursor: pointer;
	z-index: 100;
	background: goldenrod;
	opacity: .5;
	display: none;
}

.square {
	width: 100%;
	padding-bottom: 100%;
	background: coral;
}

.rectangle {
	width: 100%;
	padding-bottom: 50%;
	background: coral;
	box-shadow: 1px 0 coral, 0 1px coral;
}



.content {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	position: relative;
	justify-content: flex-start;
	align-items: center;
}

@media screen and (min-width: 53em) {
	.message {
		display: none;
	}

	.frame {
		position: fixed;
		text-align: left;
		z-index: 100;
		top: 0;
		left: 0;
		display: grid;
		align-content: space-between;
		width: 100%;
		max-width: none;
		height: 100vh;
		padding: 3rem;
		pointer-events: none;
		grid-template-columns: 50% 50%;
		grid-template-rows: auto auto auto;
		grid-template-areas: 'title links'
			'... ...'
			'... demos';
	}

	.frame__title-wrap {
		grid-area: title;
		display: flex;
	}

	.frame__title {
		margin: 0;
	}

	.frame__tagline {
		position: relative;
		margin: 0 0 0 1rem;
		padding: 0 0 0 1rem;
		opacity: 0.5;
	}

	.frame__demos {
		margin: 0;
		grid-area: demos;
		justify-self: end;
	}

	.frame__links {
		grid-area: links;
		padding: 0;
		justify-self: end;
	}

	.frame a {
		pointer-events: auto;
	}

	.content {
		justify-content: center;
	}
}


  /* Effect Styles */
  
  .folds {
    position: relative;
    transform-style: preserve-3d;
	
  }
  
  .fold-3d {
    position: absolute;
    left: 0;
    right: 0;
    perspective: 100vh;
    transform-style: preserve-3d;
	
  }
  
  .fold-3d-top {
    bottom: 100%;
    perspective-origin: 50% 100%;
	
  }
  .fold-3d-bottom {
    top: 100%;
    /* Origin at the top of the bottom wrapper, the bottom of the center fold. */
    perspective-origin: 50% 0%;
  }
  .debug .fold-top {
    background: #dadada;
  }
  .debug .fold-bottom {
    background: #dadada;
  }
  .debug .test-center {
    background: #bababa;
  }
  .fold-bottom {
    height: 50vh;
    width: 100%;
    /* background: #ff000090; */
    transform-origin: top center;
	// background: rgba(255, 0, 0, 0.287);

	@include tablet {
		left: 50px;
		position: relative;
	}

  }
  .fold-top {
    height: 50vh;
    /* background: #ff000090; */
    transform-origin: bottom center;
	// background: rgba(0, 128, 0, 0.306);
	width: 100%;

	@include tablet {
		left: 50px;
		position: relative;
	}

  }
  .fold-top .fold-scroller {
    transform-origin: top center;
  }
  .fold-bottom .fold-scroller {
    transform-origin: top center;
  }
  .fold-center {
    height: 50vh;
    width: calc(100vw - 40px);
	// background: rgba(0, 0, 255, 0.303);

	@include tablet {
		left: 50px;
		position: relative;
		width: calc(80vw - 40px);
		height: 70vh;
	}

	@include monitor {
		width: 50vw;
		// left: 64.5px;

	}

  }
  
  .fold {
    overflow: hidden;
    //border: 1px solid #000;
    border-top: 0;
    border-bottom: 0;
	position: relative;
	top: 60px;

	@include tablet {
		top: 10px;
	}


	
  }
  .fold-scroller {
    display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: flex-start;
	
	
  }
  
  .fold-content {
    padding: 0 0;
	left: 0;
	position: relative;
	width: 80%;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;


  }
  
  .page-wrapper {
	position: fixed;
	top: 0;
  }

