.button {
    font-weight: 400;
    font-size: 10px;
    text-transform: uppercase;
    border: 1px dotted white;
    border-radius: 100px;
    color: white;
    background: none;
    padding: 4px 16px;
    text-decoration: none;
    cursor: pointer;


    // &:active {
    //     font-weight: 800;
    // }

    &:hover {
        border: 1px dotted white;
        background: plum;
    }


  }

  .active {
    border: 1px dotted white;
    background: plum;



  }