$gold: #eaded1;
$midnight: #12181f;
$white: #ffffff;
$orange: #DB643B;
$velvet: #212335;
$purple: #B67CEE;

$grid: url(../../assets/backgrounds/perspective-grid-1.svg);

.blue-bg {
    background: $midnight;
}

.orange-bg {
    background: $orange;
}