@font-face {
    font-family: "TTI";
    src: url("../assets/fonts/tt-interphases/tti-400.woff2") format("woff2"),
    url("../assets/fonts/tt-interphases/tti-400.woff") format("woff"),
    url("../assets/fonts/tt-interphases/tti-400.ttf") format("truetype"),
    url("../assets/fonts/tt-interphases/tti-400.eot") format("embedded-opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "TTI";
    src: url("../assets/fonts/tt-interphases/tti-600.woff2") format("woff2"),
    url("../assets/fonts/tt-interphases/tti-600.woff") format("woff"),
    url("../assets/fonts/tt-interphases/tti-600.ttf") format("truetype"),
    url("../assets/fonts/tt-interphases/tti-600.eot") format("embedded-opentype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "TTI";
    src: url("../assets/fonts/tt-interphases/tti-700.woff2") format("woff2"),
    url("../assets/fonts/tt-interphases/tti-700.woff") format("woff"),
    url("../assets/fonts/tt-interphases/tti-700.ttf") format("truetype"),
    url("../assets/fonts/tt-interphases/tti-700.eot") format("embedded-opentype");
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: "TTI-mono";
    src: url("../assets/fonts/tt-interphases/tti-mono-400.woff2") format("woff2"),
    url("../assets/fonts/tt-interphases/tti-mono-400.woff") format("woff"),
    url("../assets/fonts/tt-interphases/tti-mono-400.ttf") format("truetype"),
    url("../assets/fonts/tt-interphases/tti-mono-400.eot") format("embedded-opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "TTI-mono";
    src: url("../assets/fonts/tt-interphases/tti-mono-400-it.woff2") format("woff2"),
    url("../assets/fonts/tt-interphases/tti-mono-400-it.woff") format("woff"),
    url("../assets/fonts/tt-interphases/tti-mono-400-it.ttf") format("truetype"),
    url("../assets/fonts/tt-interphases/tti-mono-400-it.eot") format("embedded-opentype");
    font-weight: 400;
    font-style: italic;
}


@font-face {
    font-family: "TTI-mono";
    src: url("../assets/fonts/tt-interphases/tti-mono-700.woff2") format("woff2"),
    url("../assets/fonts/tt-interphases/tti-mono-700.woff") format("woff"),
    url("../assets/fonts/tt-interphases/tti-mono-700.ttf") format("truetype"),
    url("../assets/fonts/tt-interphases/tti-mono-700.eot") format("embedded-opentype");
    font-weight: 700;
    font-style: normal;
}



@font-face {
    font-family: "Morion";
    src: url("../assets/fonts/morion/morion-400.woff2") format("woff2"),
    url("../assets/fonts/morion/morion-400.woff") format("woff"),
    url("../assets/fonts/morion/morion-400.otf") format("truetype"),
    url("../assets/fonts/morion/morion-400.eot") format("embedded-opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Morion";
    src: url("../assets/fonts/morion/morion-500.woff2") format("woff2"),
    url("../assets/fonts/morion/morion-500.woff") format("woff"),
    url("../assets/fonts/morion/morion-500.otf") format("truetype"),
    url("../assets/fonts/morion/morion-500.eot") format("embedded-opentype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Morion";
    src: url("../assets/fonts/morion/morion-700.woff2") format("woff2"),
    url("../assets/fonts/morion/morion-700.woff") format("woff"),
    url("../assets/fonts/morion/morion-700.otf") format("truetype"),
    url("../assets/fonts/morion/morion-700.eot") format("embedded-opentype");
    font-weight: 700;
    font-style: normal;
}