.grid-wrapper {

    height: calc(100vh - 120px);
    width: 100vw;
    padding: 20px;
    background: $midnight;

    @include tablet {
        width: calc(100vw - 120px);
        height: 100vh;
        padding: 20px 20px 0 0;




    }

}