.header {
    width: 100vw;
    height: 120px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 20px 20px;
    align-items: center;
    background: $midnight;
    position: relative;
    z-index: 999;

    @include tablet {
        width: 120px;
        height: 100vh;
        flex-flow: column nowrap;

    }


    &__logo {
        max-width: 60px;
        color: red;
    }

    &__button {
        background: none;
        outline: none;
        border: none;
        color: $white;
        font-size: 38px;
        cursor: pointer;
        transition: transform 0.25s ease-in-out, color 0.25s ease-in-out;
        position: absolute;
        right: 20px;


        &:hover {
            color: silver;
            
        }

        @include tablet {
            position: relative;
            right: auto;
        }
    }

}

#fixed {
    position: fixed;
}

.rotate {
    transform: rotate(45deg);
}

#instagram-logo {
    display: none;

    @include tablet {
        display: initial;
        width: 24px !important;
        height: 24px !important;
    }
}