.home {



    &__outer {
        height: 100%;
        width: 100%;
        // background: grey;
        position: relative;
        overflow: hidden;
    }


    &__inner {
        // background: rgb(207, 118, 118);
        position: absolute;
        display: flex;
        z-index: 2;
        background: none;
        background-repeat: no-repeat;
        background-size: 5% 5%;
        transition: opacity 0.333s ease-in-out;
        height: min-content;

        &-scribble {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }


        &-link {
            font-size: 8vw;
            font-family: "TTI", sans-serif;
            text-decoration: none;
            color: $white;
            text-transform: uppercase;

            @include tablet {
                font-size: 6vw;
            }



            @include monitor {
                font-size: 4vw;
            }

        }
        

        &-arrow {
            margin-left: 5px;
            // background: red;
            font-size: 8vw;
            font-family: "TTI", sans-serif;
            text-decoration: none;
            color: $white;

            @include tablet {
                font-size: 6vw;
            }


            @include monitor {
                font-size: 4vw;
            }

        }

        &-bg {
            position: absolute;
            bottom: 0;
            left: 0;
            width: auto;
            height: 100%;
            z-index: 1;
            display: none;
            transition: visibility 0.333s ease-in-out;


        }

    }





}