@font-face {
    font-family: 'TT Interphases Pro';
    src: url('TTInterphasesPro-Bd.eot');
    src: url('TTInterphasesPro-Bd.eot?#iefix') format('embedded-opentype'),
        url('TTInterphasesPro-Bd.woff2') format('woff2'),
        url('TTInterphasesPro-Bd.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Interphases Pro';
    src: url('TTInterphasesPro-DmBdIt.eot');
    src: url('TTInterphasesPro-DmBdIt.eot?#iefix') format('embedded-opentype'),
        url('TTInterphasesPro-DmBdIt.woff2') format('woff2'),
        url('TTInterphasesPro-DmBdIt.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'TT Interphases Pro';
    src: url('TTInterphasesPro-BdIt.eot');
    src: url('TTInterphasesPro-BdIt.eot?#iefix') format('embedded-opentype'),
        url('TTInterphasesPro-BdIt.woff2') format('woff2'),
        url('TTInterphasesPro-BdIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'TT Interphases Pro';
    src: url('TTInterphasesPro-DmBd.eot');
    src: url('TTInterphasesPro-DmBd.eot?#iefix') format('embedded-opentype'),
        url('TTInterphasesPro-DmBd.woff2') format('woff2'),
        url('TTInterphasesPro-DmBd.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'TT Interphases Pro';
    src: url('TTInterphasesPro-LtIt.eot');
    src: url('TTInterphasesPro-LtIt.eot?#iefix') format('embedded-opentype'),
        url('TTInterphasesPro-LtIt.woff2') format('woff2'),
        url('TTInterphasesPro-LtIt.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'TT Interphases Pro';
    src: url('TTInterphasesPro-It.eot');
    src: url('TTInterphasesPro-It.eot?#iefix') format('embedded-opentype'),
        url('TTInterphasesPro-It.woff2') format('woff2'),
        url('TTInterphasesPro-It.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'TT Interphases Pro';
    src: url('TTInterphasesPro-Lt.eot');
    src: url('TTInterphasesPro-Lt.eot?#iefix') format('embedded-opentype'),
        url('TTInterphasesPro-Lt.woff2') format('woff2'),
        url('TTInterphasesPro-Lt.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TT Interphases Pro Mono';
    src: url('TTInterphasesProMono-It.eot');
    src: url('TTInterphasesProMono-It.eot?#iefix') format('embedded-opentype'),
        url('TTInterphasesProMono-It.woff2') format('woff2'),
        url('TTInterphasesProMono-It.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'TT Interphases Pro';
    src: url('TTInterphasesPro-Md.eot');
    src: url('TTInterphasesPro-Md.eot?#iefix') format('embedded-opentype'),
        url('TTInterphasesPro-Md.woff2') format('woff2'),
        url('TTInterphasesPro-Md.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Interphases Pro Mono';
    src: url('TTInterphasesProMono-Bd.eot');
    src: url('TTInterphasesProMono-Bd.eot?#iefix') format('embedded-opentype'),
        url('TTInterphasesProMono-Bd.woff2') format('woff2'),
        url('TTInterphasesProMono-Bd.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Interphases Pro';
    src: url('TTInterphasesPro-MdIt.eot');
    src: url('TTInterphasesPro-MdIt.eot?#iefix') format('embedded-opentype'),
        url('TTInterphasesPro-MdIt.woff2') format('woff2'),
        url('TTInterphasesPro-MdIt.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'TT Interphases Pro Mono';
    src: url('TTInterphasesProMono-BdIt.eot');
    src: url('TTInterphasesProMono-BdIt.eot?#iefix') format('embedded-opentype'),
        url('TTInterphasesProMono-BdIt.woff2') format('woff2'),
        url('TTInterphasesProMono-BdIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'TT Interphases Pro';
    src: url('TTInterphasesPro-Rg.eot');
    src: url('TTInterphasesPro-Rg.eot?#iefix') format('embedded-opentype'),
        url('TTInterphasesPro-Rg.woff2') format('woff2'),
        url('TTInterphasesPro-Rg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Interphases Pro Mono';
    src: url('TTInterphasesProMono-Rg.eot');
    src: url('TTInterphasesProMono-Rg.eot?#iefix') format('embedded-opentype'),
        url('TTInterphasesProMono-Rg.woff2') format('woff2'),
        url('TTInterphasesProMono-Rg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Morion';
    src: url('Morion-Bold.eot');
    src: url('Morion-Bold.eot?#iefix') format('embedded-opentype'),
        url('Morion-Bold.woff2') format('woff2'),
        url('Morion-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Morion';
    src: url('Morion-Light.eot');
    src: url('Morion-Light.eot?#iefix') format('embedded-opentype'),
        url('Morion-Light.woff2') format('woff2'),
        url('Morion-Light.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Morion';
    src: url('Morion-Regular.eot');
    src: url('Morion-Regular.eot?#iefix') format('embedded-opentype'),
        url('Morion-Regular.woff2') format('woff2'),
        url('Morion-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Morion';
    src: url('Morion-Italic.eot');
    src: url('Morion-Italic.eot?#iefix') format('embedded-opentype'),
        url('Morion-Italic.woff2') format('woff2'),
        url('Morion-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Morion';
    src: url('Morion-LightItalic.eot');
    src: url('Morion-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('Morion-LightItalic.woff2') format('woff2'),
        url('Morion-LightItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Morion';
    src: url('Morion-BoldItalic.eot');
    src: url('Morion-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Morion-BoldItalic.woff2') format('woff2'),
        url('Morion-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Morion';
    src: url('Morion-Thin.eot');
    src: url('Morion-Thin.eot?#iefix') format('embedded-opentype'),
        url('Morion-Thin.woff2') format('woff2'),
        url('Morion-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Morion';
    src: url('Morion-UltraLight.eot');
    src: url('Morion-UltraLight.eot?#iefix') format('embedded-opentype'),
        url('Morion-UltraLight.woff2') format('woff2'),
        url('Morion-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Morion';
    src: url('Morion-Semibold.eot');
    src: url('Morion-Semibold.eot?#iefix') format('embedded-opentype'),
        url('Morion-Semibold.woff2') format('woff2'),
        url('Morion-Semibold.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Morion';
    src: url('Morion-ThinItalic.eot');
    src: url('Morion-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('Morion-ThinItalic.woff2') format('woff2'),
        url('Morion-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Morion';
    src: url('Morion-SemiboldItalic.eot');
    src: url('Morion-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
        url('Morion-SemiboldItalic.woff2') format('woff2'),
        url('Morion-SemiboldItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Morion';
    src: url('Morion-UltraLightItalic.eot');
    src: url('Morion-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('Morion-UltraLightItalic.woff2') format('woff2'),
        url('Morion-UltraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

